/* body { font-family: Arial; background: #f4f4f4; color: #333; margin: 40px; } */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 40px 100px;
  background-color: #fafafa;
  color: #333;
}

/* h1 { color: #222; } */
p { font-size: 18px; }
.profile-pic {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h1 {
  text-align: center;
  font-size: 2.2em;
  margin-top: 20px;
}
.quote {
  text-align: center;
  font-style: italic;
  color: gray;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
  font-size: 0.9em;
}
